<h2 class='page-heading'>Add Collection</h2>

<%= form_with model: @collection do |f| %>
  <%= f.hidden_field :genre_id %>

  <%= f.label :name, class: 'form-label' %>
  <%= f.text_field :name, class: 'form-control form-control-sm w-50' %>
  <%= f.submit class: 'mt-3 btn btn-sm btn-secondary' %>
  <%= link_to 'cancel', genre_path(@genre), class: 'mt-3 btn btn-sm btn-secondary' %>
<% end %>
