<% content_for :breadcrumbs do %>
  <%= link_to('Genres', genres_path, class: 'text-black') %>
  > <%= link_to(@collection.genre.name, genre_path(@collection.genre), class: 'text-black') %>
  > <%= @collection.name %>
<% end %>

<% if user_signed_in? %>
  <small>
    <%= link_to 'add to collection',
                new_collection_writing_path(@collection),
                class: 'text-black' %> | <%= pub_unpub_link(@collection) %>
  </small>
<% end %>

<h2 class='page-heading'><%= @collection.name %></h2>

<ul class='list-group list-group-flush mt-3'>
  <%= render partial: 'writings/writing', collection: @writings %>
</ul>
