<% content_for :breadcrumbs do %>
  <%= link_to('Collections', collections_path) %>
  >
  <%= @collection.name %>
<% end %>

<small>
  <%# if user_signed_in? %>
    <%= link_to 'add to collection', new_collection_writing_path(@collection), class: 'text-black'  %>
  <%# end %>
</small>

<h2 class='page-heading'><%= @collection.name %></h2>

<ul class='list-group list-group-flush w-50 mt-3'>
  <%= render partial: 'writings/writing', collection: @collection.writings.by_position %>
</ul>
