<% content_for :breadcrumbs do %>
  <%= link_to('Collections', collections_path, class: 'text-black') %>
  > <%= link_to(@collection.name, @collection, class: 'text-black') %>
  > <%= @writing.name %>
<% end %>

<div class='page-heading'>
  <h2><%= @writing.name %></h2>
  <small>
    <%= @writing.author_fullname %> | <%= @writing.pub_date %> 
    <% if user_signed_in? %>
      | <%= pub_unpub_link(@writing) %>
    <% end %>
  </small>
</div>

<article>
  <%= simple_format @writing.content %>
</article>