<% content_for :breadcrumbs do %>
  <%= link_to('Collections', collections_path) %>
  > <%= link_to(@collection.name, collection_writings_path(@collection, @writing)) %>
  > <%= @writing.name %>
<% end %>

<h2 class='page-heading'>
  <%= @writing.name %>
</h2>

<article>
  <%= simple_format @writing.content %>
</article>